{% extends 'base.html.twig' %}

{% block title 'Accueil' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {% if not form.vars.valid %}
        <div class="alert alert-danger">Erreur : impossible d'envoyer le formulaire de contact</div>
    {% endif %}

    <main role="main" class="main">
        <section role="banner" class="container-fluid header"
                 style="background: linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,.2)), url({{ asset('/img/background/' ~ background.img) }}) no-repeat bottom / cover;">
            <div class="row justify-content-center align-items-center">
                <img src="{{ asset('img/background/logo.png') }}" alt="Institut Labo Logo" class="img-fluid">
            </div>
        </section>

        <section id="services" class="container-fluid prestations">
            <header class="row flex-column justify-content-center align-items-center my-5 text-center">
                <h1 class="text-uppercase section-title">Services</h1>
                <h2 class="h5">Découvrez chacune des catégories et leurs services.</h2>
            </header>

            <div class="row justify-content-center">
                {% for category in categories if category.visible == 1 %}
                    <article class="col-md-3 p-0 m-0">
                        <div class="prestations-relative">
                            <img src="{{ asset('/img/categories/' ~ category.image) }}" alt="{{ category.image }}"
                                 class="img-fluid prestations-img">
                            <div class="prestations-mask"></div>
                            <h2 class="prestations-mask-text">
                                <a href="{{ path('home.prestation.show', {slug: category.slug, id: category.id}) }}">
                                    {{ category.name }}
                                </a>
                            </h2>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </section>

        <section id="curious" class="container-fluid curious">
            <div class="row py-md-0 py-3 text-md-left text-center">
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="d-flex flex-column justify-content-center">
                        <h2>Curieux d'en savoir plus ?</h2>
                        <h6>Utilisez le formulaire de contact</h6>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <a href="{{ path('home.prestation.index') }}#contact" class="btn btn-lg btn-success">
                        Je suis curieux !
                    </a>
                </div>
            </div>
        </section>

        <section id="products" class="container products">
            <header class="row flex-column justify-content-center align-items-center my-5 text-center">
                <h1 class="text-uppercase section-title">Germaine de Capuccini</h1>
                <h2 class="h5">Découvrez tous les produits de Germaine de Capuccini.</h2>
            </header>

            <div class="row justify-content-center">
                {% for product in products %}
                    <article class="col-md-4">
                        <a href="{{ path('product.show', {id: product.id, slug: product.slug}) }}"
                           class="card-link text-black-50">
                            <figure>
                                <img src="{{ asset('/img/products/' ~ product.img) }}" alt="{{ product.img }}"
                                     class="img-fluid" style="max-width: 20vw; max-height: 10vh;">
                                <figcaption class="d-flex justify-content-center">
                                    <h3>
                                        {{ product.name }}
                                    </h3>
                                </figcaption>
                            </figure>
                        </a>
                    </article>
                {% endfor %}

                <div class="see-all-products my-5">
                    <a href="{{ path('product.index') }}" class="text-black-50">Voir tous les produits</a>
                </div>
            </div>
        </section>

        <section id="contact" class="container-fluid contact">
            <div class="row justify-content-center pt-4 text-center text-md-left">
                <div class="col-md-4 offset-md-1 mb-md-0 mb-3">
                    <h2 class="text-uppercase contact-title">Horaires</h2>
                    <ul class="list-unstyled">
                        <li>Lundi : 09:30 - 20:00</li>
                        <li>Mardi : 09:30 - 20:00</li>
                        <li>Mercredi : 09:30 - 20:00</li>
                        <li>Jeudi : 09:30 - 20:00</li>
                        <li>Vendredi : 09:30 - 20:00</li>
                        <li>Samedi : 09:30 - 20:00</li>
                    </ul>
                    <h2 class="text-uppercase contact-title">Réseaux</h2>
                    <a href="https://www.facebook.com/CatherineChaufoureau/?eid=ARAYeovlAYMDjVgXd_AIs7YsZinTCDe38oSP9kR1moSEvUgyCn32emImvpkS8WSnfHyJTpEigTixhGre&timeline_context_item_type=intro_card_work&timeline_context_item_source=100008311311379&fref=tag"
                       target="_blank">
                        <i class="fab fa-facebook-square fa-2x"></i>
                    </a>
                </div>
                <div class="col-md-5">
                    <h2 class="text-uppercase contact-title">Contacter</h2>
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6">{{ form_row(form.name) }}</div>
                        <div class="col-md-6">{{ form_row(form.email) }}</div>
                        <div class="col-12">{{ form_row(form.message) }}</div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-secondary" type="submit">Contacter</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </section>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2534.0689199115086!2d4.278413115511637!3d50.57008278661883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2336fda2aaa59%3A0x8643efa9931e191a!2sRue+de+Bon+Conseil+23%2C+7181+Seneffe!5e0!3m2!1sfr!2sbe!4v1542652764065"
                height="300" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
    </main>
{% endblock %}
