{% extends 'base.html.twig' %}

{% block title 'Nouveau service' %}

{% block body %}
    <main role="main" class="main">
        <section class="container">
            <div class="row"><h1>Nouveau service</h1></div>

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">{{ form_row(form.name) }}</div>
                <div class="col-md-6">{{ form_row(form.price) }}</div>
            </div>
            <div class="row">
                <div class="col-md-3">{{ form_row(form.time) }}</div>
                <div class="col-md-9">{{ form_row(form.description) }}</div>
            </div>
            <button class="btn btn-secondary" type="submit">Créer service</button>
            {{ form_end(form) }}
        </section>
    </main>
{% endblock %}


