{% extends 'base.html.twig' %}

{% block title 'Administration - ' ~ category.name %}

{% block body %}
    <main role="main" class="main">
        <section class="container">
            <div class="row"><h1>{{ category.name }}</h1></div>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">{{ form_row(form.name) }}</div>
                <div class="col-md-6">{{ form_row(form.imageFile) }}</div>
                <div class="col-md-6">{{ form_row(form.visible) }}</div>
            </div>
            <button class="btn btn-secondary" type="submit">Éditer</button>
            {{ form_end(form) }}

            <div class="row flex-column mt-5">
                <h1>Services de &laquo; {{ category.name }} &raquo;</h1>
                <ul class="list-unstyled ml-md-2">
                    {% for prestation in prestations %}
                        <li class="list-group">
                            <a class="list-group-item"
                               href="{{ path('admin.prestation.edit', {slug: prestation.slug, id: prestation.id}) }}">
                                {{ prestation.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <a class="btn btn-secondary mb-5"
               href="{{ path('admin.prestation.new', {slug: category.slug, id: category.id}) }}">
                Nouveau service
            </a>

            {% if category.id == 8 %}
                <h1>Créations photos de &laquo; {{ category.name }} &raquo;</h1>
                <div class="row mt-5">
                    {% for creation in creations if category.id == 8 %}
                        <div class="col-md-4">
                            <a href="{{ path('admin.creation.edit', {slug: creation.slug, id: creation.id}) }}">
                                <img src="{{ asset('img/creation/' ~ creation.img) }}" alt="{{ creation.slug }}"
                                     class="img-thumbnail">
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <a class="btn btn-secondary mb-5"
                   href="{{ path('admin.creation.new', {slug: category.slug, id: category.id}) }}">
                    Nouvelle création
                </a>
            {% endif %}
        </section>
    </main>
{% endblock %}