{% extends 'base.html.twig' %}

{% block title 'Administration - ' ~ category.name %}

{% block body %}
    <h1>{{ category.name }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.imageFile) }}
    <button type="submit">Éditer</button>
    {{ form_end(form) }}
{% endblock %}