{% extends 'base.html.twig' %}

{% block title 'Nouvelle promotion' %}

{% block body %}
    <main role="main" class="main">
        <section class="container">
            <div class="row"><h1>Nouvelle promotion</h1></div>

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">{{ form_row(form.name) }}</div>
                <div class="col-md-3">{{ form_row(form.price) }}</div>
            </div>

            <div class="row">
                <div class="col-md-6">{{ form_row(form.datetime) }}</div>
            </div>

            <div class="row">
                <div class="col-md-4">{{ form_row(form.type) }}</div>
                <div class="col-md-8">{{ form_row(form.description) }}</div>
            </div>
            <button class="btn btn-secondary" type="submit">Créer</button>
            {{ form_end(form) }}
        </section>
    </main>
{% endblock %}

